@{
    ViewData["Title"] = "Home Page";
}

@using Shared.Dtos
@model List<NewsDto>

<table>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.NewsId</td>
            <td>@item.Title</td>
            <td>@item.NewsDate</td>
            <td>@item.Contents</td>
        </tr>
    }

</table>
